@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;1,400&family=Kaushan+Script&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bg-primary: #268b5c;
  --bg-secondary: #ff6f61;
  --bg-small: #ffd700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(images/background.jpg);
  background-color: var(--bg-primary);
  background-position: center;
  font-size: 62.5%;
  font-family: 'Poppins', serif;
  color: #ffff;
}

.hidden {
  display: none !important;
  visibility: 0;
}

/* .....style...... */
.logo-img {
  max-width: 3rem;
}
.header h1 {
  font-family: 'Almendra', serif;
  font-weight: 600;
  margin: 0 !important;
}

.message-img {
  max-width: 6rem;
  filter: drop-shadow(1px 2px 15px rgba(201, 207, 6, 0.8));
}
.bubble-img {
  max-width: 10rem;
  mix-blend-mode: screen;
}
.text-area p {
  color: black;
  font-weight: 600;
}
.card-display {
  position: relative;
  width: 100%;
  height: auto;
}
.cards-stack {
  position: relative;
  width: 100%;
  height: 20rem;
}
.card {
  width: 4rem;
  background-color: transparent;
  border: 0;
}
.card-16 {
  position: absolute;
  top: 0;
  transform: translate(-5%, -5%);
  transition: transform 0.2s;
}
.card-stack {
  position: absolute;
}
.card-stack:nth-child(1) {
  top: 0;
  z-index: 1;
}
.card-stack:nth-child(2) {
  top: 15%;
  z-index: 2;
}
.card-stack:nth-child(3) {
  top: 30%;
  z-index: 3;
}
.card-stack:nth-child(4) {
  top: 45%;
  z-index: 4;
}
.stack-1 {
  position: absolute;
  left: -200%;
}
.stack-2 {
  position: absolute;
  left: -70%;
}
.stack-3 {
  position: absolute;
  left: 70%;
}
.stack-4 {
  position: absolute;
  left: 200%;
}
/* media Queries */

@media only screen and (min-width: 600px) {
  .card {
    width: 6rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    width: 7rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card {
    width: 8rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card {
    width: 10rem;
  }
}
