@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;1,400&family=Kaushan+Script&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bg-primary: #268b5c;
  --bg-secondary: #ff6f61;
  --bg-small: #ffd700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(images/background.jpg);
  background-color: var(--bg-primary);
  background-position: center;
  font-size: 62.5%;
  font-family: 'Poppins', serif;
  color: #ffff;
}

.hidden {
  display: none;
}

/* .....style...... */
.logo-img {
  max-width: 3rem;
}
.header h1 {
  font-family: 'Almendra', serif;
  font-weight: 600;
  margin: 0 !important;
}

.message-img {
  max-width: 6rem;
  filter: drop-shadow(1px 2px 15px rgba(201, 207, 6, 0.8));
}
.bubble-img {
  max-width: 10rem;
  mix-blend-mode: screen;
}
.text-area p {
  color: black;
  font-weight: 600;
}
.card-display {
  position: relative;
  width: 100%;
  height: auto;
}
.card {
  width: 10rem;
  position: absolute;
  background-color: transparent;
  border: 0;
  top: 0;
  left: 0;
}
.card:nth-child(2) {
  left: 5%;
}
.deck-img {
  width: 10rem;
}
